@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #0eb582;
}

section {
  padding: 5rem 10%;
}

.cabecera {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.link-cabecera {
  text-align: center;
  background: url(../images/cabecera.jpg);
  background-size: cover;
  background-position: center;
}

.link-cabecera h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #444;
}

.link-cabecera p {
  font-size: 2rem;
  line-height: 2;
  color: #777;
}

.link-cabecera p a {
  color: #0eb582;
}

.link-cabecera p a:hover {
  text-decoration: underline;
}

.contenedor-audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem 0;
  background-color: #f0fdfa;
}

.contenedor-audio .audio-player {
  height: 50px;
  width: 350px;
  background: #444;
  -webkit-box-shadow: 0 0 20px 0 #000a;
          box-shadow: 0 0 20px 0 #000a;
  font-size: 1rem;
  line-height: 2;
  color: #777;
  color: #f0fdfa;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6px auto;
      grid-template-rows: 6px auto;
}

.contenedor-audio .audio-player .timeline {
  background: #fff;
  width: 100%;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 10px 0 #0008;
          box-shadow: 0 2px 10px 0 #0008;
}

.contenedor-audio .audio-player .timeline .progress {
  background: #0eb582;
  width: 0%;
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.contenedor-audio .audio-player .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 20px;
}

.contenedor-audio .audio-player .controls > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-audio .audio-player .controls .toggle-play.play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid #fff;
}

.contenedor-audio .audio-player .controls .toggle-play.play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contenedor-audio .audio-player .controls .toggle-play.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}

.contenedor-audio .audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: #fff;
  content: "";
  height: 15px;
  width: 3px;
}

.contenedor-audio .audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: #fff;
  content: "";
  height: 15px;
  width: 3px;
}

.contenedor-audio .audio-player .controls .toggle-play.pause:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contenedor-audio .audio-player .controls .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor-audio .audio-player .controls .time > * {
  padding: 2px;
}

.contenedor-audio .audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.contenedor-audio .audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-audio .audio-player .controls .volume-container .volume-button .volume {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.contenedor-audio .audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  top: 15px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px #000a;
          box-shadow: 0 0 20px #000a;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.contenedor-audio .audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: #0eb582;
  height: 100%;
  width: 75%;
}

.contenedor-audio .audio-player .controls .volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  color: #0eb582;
  text-transform: capitalize;
}

.btn:hover {
  background: #0eb582;
  color: #fff;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  font-weight: bolder;
}

.header .logo i {
  color: #0eb582;
}

.header .navbar {
  position: relative;
}

.header .navbar #cerrar-menu {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
}

.header .navbar #cerrar-menu:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #0eb582;
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.header .navbar a:hover {
  color: #0eb582;
  text-decoration: underline;
}

.header .iconos div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 1.5rem;
}

.header .iconos div:hover {
  color: #0eb582;
}

.header #menu-btn {
  display: none;
}

.formularios {
  position: fixed;
  top: 0;
  right: -105%;
  width: 40rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  text-align: center;
}

.formularios.activo {
  right: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}

.formularios #cerrar-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
}

.formularios #cerrar-form:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #0eb582;
}

.formularios form {
  border: 0.1rem solid #0eb582;
  padding: 2rem;
  display: none;
}

.formularios form.activo {
  display: block;
}

.formularios form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.formularios form .caja {
  width: 100%;
  border: 1.2rem 1.4rem;
  border: 0.1rem solid #0eb582;
  font-size: 1.6rem;
  margin: 0.7rem 0;
}

.formularios form .flex {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.formularios form .flex label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}

.formularios form .flex a {
  font-size: 1.5rem;
  color: #777;
  margin-left: auto;
}

.formularios form .flex a:hover {
  text-decoration: underline;
  color: #0eb582;
}

.formularios form .btn {
  width: 100%;
}

.formularios .botones .btn {
  margin: 0 0.5rem;
}

.formularios .botones .btn.activo {
  background: #0eb582;
  color: #fff;
}

.inicio {
  padding: 0;
}

.inicio .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70rem;
  background-size: cover !important;
  background-position: center !important;
}

.inicio .contenido {
  width: 50rem;
}

.inicio .contenido h3 {
  font-size: 6rem;
  text-transform: capitalize;
  color: #444;
  color: #0eb582;
}

.inicio .contenido p {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
  color: #f0fdfa;
  padding: 1rem 0;
}

.swiper-pagination-bullet-active {
  background: #0eb582;
}

.apps .apps-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.apps .apps-container .caja {
  padding: 3rem 2rem;
  text-align: center;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  cursor: pointer;
}

.apps .apps-container .caja:hover {
  background: #0eb582;
}

.apps .apps-container .caja:hover h3 {
  color: #fff;
}

.apps .apps-container .caja:hover p {
  color: #eee;
}

.apps .apps-container .caja img {
  height: 10rem;
  width: 20rem;
  margin-bottom: 0.7rem;
}

.apps .apps-container .caja h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}

.apps .apps-container .caja p {
  font-size: 1.25rem;
  line-height: 2;
  color: #777;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.about .imagen {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .imagen img {
  width: 100%;
}

.about .contenido {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .contenido .titulo-about {
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}

.about .contenido p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.about .contenido .contenedor-iconos {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.about .contenido .contenedor-iconos .iconos {
  text-align: center;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  padding: 3rem 2rem;
}

.about .contenido .contenedor-iconos .iconos img {
  height: 5rem;
  margin-bottom: 0.5rem;
}

.about .contenido .contenedor-iconos .iconos h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}

.about .contenido .contenedor-iconos .iconos span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.contacto .contenedor-iconos {
  margin-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.contacto .contenedor-iconos .iconos {
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
}

.contacto .contenedor-iconos .iconos i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  color: #fff;
  background: #0eb582;
}

.contacto .contenedor-iconos .iconos h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}

.contacto .contenedor-iconos .iconos p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.contacto .fila {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contacto .fila .imagen {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contacto .fila .imagen img {
  width: 100%;
}

.contacto .fila form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 0.1rem solid #0eb582;
  padding: 2rem;
}

.contacto .fila form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 1rem;
}

.contacto .fila form .caja {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #0eb582;
  font-size: 1.6rem;
  margin: 0.7rem 0;
}

.contacto .fila form .caja:focus {
  background: #0eb582;
  color: #fff;
}

.contacto .fila form .caja:focus::-webkit-input-placeholder {
  color: #eee;
}

.contacto .fila form .caja:focus:-ms-input-placeholder {
  color: #eee;
}

.contacto .fila form .caja:focus::-ms-input-placeholder {
  color: #eee;
}

.contacto .fila form .caja:focus::placeholder {
  color: #eee;
}

.contacto .fila form textarea {
  height: 15rem;
  resize: none;
}

.faq .contenedor-acordeones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.faq .contenedor-acordeones .acordeon {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 0.1rem solid #0eb582;
}

.faq .contenedor-acordeones .acordeon.activo .header-acordeon {
  background: #0eb582;
}

.faq .contenedor-acordeones .acordeon.activo .header-acordeon h3 {
  color: #fff;
}

.faq .contenedor-acordeones .acordeon.activo .header-acordeon i {
  color: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .contenedor-acordeones .acordeon.activo .contenido-acordeon {
  display: block;
}

.faq .contenedor-acordeones .acordeon .header-acordeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  padding: 1.5rem;
}

.faq .contenedor-acordeones .acordeon .header-acordeon h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.faq .contenedor-acordeones .acordeon .header-acordeon i {
  font-size: 2rem;
  color: #0eb582;
}

.faq .contenedor-acordeones .acordeon .contenido-acordeon {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  border-top: 0.1rem solid #0eb582;
  display: none;
}

.cursos .caja-contenedora {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(45rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 2rem;
}

.cursos .caja-contenedora .caja:hover .imagen img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cursos .caja-contenedora .caja .imagen {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.cursos .caja-contenedora .caja .imagen img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cursos .caja-contenedora .caja .imagen h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1.5rem;
  background: #fff;
}

.cursos .caja-contenedora .caja .contenido {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid #0eb582;
}

.cursos .caja-contenedora .caja .contenido h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.cursos .caja-contenedora .caja .contenido p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
}

.cursos .caja-contenedora .caja .contenido .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #0eb582;
}

.cursos .caja-contenedora .caja .contenido .iconos span {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
}

.cursos .caja-contenedora .caja .contenido .iconos span i {
  color: #0eb582;
  padding-right: 0.5rem;
}

.footer {
  background: #f0fdfa;
}

.footer .footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .footer-container .caja p {
  font-size: 1.5em;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.footer .footer-container .caja h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
}

.footer .footer-container .caja h3 i {
  color: #0eb582;
}

.footer .footer-container .caja .redes-sociales {
  margin-top: 1rem;
}

.footer .footer-container .caja .redes-sociales a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: #0eb582;
  color: #fff;
  margin-right: 0.3rem;
  text-align: center;
}

.footer .footer-container .caja .redes-sociales a:hover {
  background-color: #444;
}

.footer .footer-container .caja .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #777;
  padding: 0.5rem 0;
  display: block;
}

.footer .footer-container .caja .link:hover {
  color: #0eb582;
  text-decoration: underline;
}

.footer .footer-container .caja .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #0eb582;
  margin-bottom: 1rem;
}

.footer .derechos {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  border-top: 0.1rem solid #0eb582;
}

.footer .derechos img {
  margin: 0 5rem;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1200;
  }
  .header .navbar #cerrar-menu {
    display: block;
  }
  .header .navbar.activo {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .inicio .swiper .contenido h3 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .cabecera {
    font-size: 3rem;
  }
  .about .contenido .titulo-about {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=styles.css.map */