@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

//Variables
$verde: #0eb582;
$verde-light: #f0fdfa;
$gris-light: #777;
$blanco-light: #eee;
$negro: #444;
$blanco: #fff;

$borde: 0.1rem solid $verde;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}

@mixin textoTitulo($tituloSize) {
  font-size: $tituloSize;
  text-transform: capitalize;
  color: $negro;
}

@mixin textoGraph($graphSize) {
  font-size: $graphSize;
  line-height: 2;
  color: $gris-light;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $verde;
  }
}

section {
  padding: 5rem 10%;
}

.cabecera {
  text-align: center;
  margin-bottom: 3rem;
  @include textoTitulo(3.5rem);
}
.contenedor-audio {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  background-color: $verde-light;

  .audio-player {
    height: 50px;
    width: 350px;
    background: $negro;
    box-shadow: 0 0 20px 0 #000a;

    @include textoGraph(1rem);
    color: $verde-light;
    overflow: hidden;

    display: grid;
    grid-template-rows: 6px auto;
    .timeline {
      background: $blanco;
      width: 100%;
      position: relative;
      cursor: pointer;
      box-shadow: 0 2px 10px 0 #0008;
      .progress {
        background: $verde;
        width: 0%;
        height: 100%;
        transition: 0.25s;
      }
    }
    .controls {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding: 0 20px;

      > * {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .toggle-play {
        &.play {
          cursor: pointer;
          position: relative;
          left: 0;
          height: 0;
          width: 0;
          border: 7px solid #0000;
          border-left: 13px solid $blanco;
          &:hover {
            transform: scale(1.1);
          }
        }
        &.pause {
          height: 15px;
          width: 20px;
          cursor: pointer;
          position: relative;
          &:before {
            position: absolute;
            top: 0;
            left: 0px;
            background: $blanco;
            content: "";
            height: 15px;
            width: 3px;
          }
          &:after {
            position: absolute;
            top: 0;
            right: 8px;
            background: $blanco;
            content: "";
            height: 15px;
            width: 3px;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .time {
        display: flex;

        > * {
          padding: 2px;
        }
      }
      .volume-container {
        cursor: pointer;
        .volume-button {
          height: 26px;
          display: flex;
          align-items: center;
          .volume {
            transform: scale(0.7);
          }
        }

        position: relative;
        z-index: 2;
        .volume-slider {
          position: absolute;
          left: -3px;
          top: 15px;
          z-index: -1;
          width: 0;
          height: 15px;
          background: $blanco;
          box-shadow: 0 0 20px #000a;
          transition: 0.25s;
          .volume-percentage {
            background: $verde;
            height: 100%;
            width: 75%;
          }
        }
        &:hover {
          .volume-slider {
            left: -123px;
            width: 120px;
          }
        }
      }
    }
  }
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  border: $borde;
  background: $verde-light;
  color: $verde;
  text-transform: capitalize;

  &:hover {
    background: $verde;
    color: $blanco;
  }
}

//HEADER
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: $blanco;
  box-shadow: $box-shadow;
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  z-index: 1000;

  .logo {
    margin-right: auto;
    @include textoTitulo(2.5rem);
    font-weight: bolder;
    i {
      color: $verde;
    }
  }

  .navbar {
    position: relative;

    #cerrar-menu {
      display: none;
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      font-size: 4rem;
      cursor: pointer;
      color: $negro;

      &:hover {
        transform: rotate(90deg);
        color: $verde;
      }
    }

    a {
      margin-right: 2rem;
      @include textoTitulo(2rem);

      &:hover {
        color: $verde;
        text-decoration: underline;
      }
    }
  }

  .iconos div {
    cursor: pointer;
    font-size: 2.5rem;
    color: $negro;
    margin-left: 1.5rem;

    &:hover {
      color: $verde;
    }
  }

  #menu-btn {
    display: none;
  }
}

.formularios {
  position: fixed;
  top: 0;
  right: -105%;
  width: 40rem;
  background: $blanco;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  text-align: center;

  &.activo {
    right: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }

  #cerrar-form {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 4rem;
    cursor: pointer;
    color: $negro;

    &:hover {
      transform: rotate(90deg);
      color: $verde;
    }
  }

  form {
    border: $borde;
    padding: 2rem;
    display: none;

    &.activo {
      display: block;
    }

    h3 {
      @include textoTitulo(2.5rem);
      padding-bottom: 0.5rem;
      text-transform: uppercase;
    }

    .caja {
      width: 100%;
      border: 1.2rem 1.4rem;
      border: $borde;
      font-size: 1.6rem;
      margin: 0.7rem 0;
    }

    .flex {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      label {
        font-size: 1.5rem;
        color: $gris-light;
        cursor: pointer;
      }

      a {
        font-size: 1.5rem;
        color: $gris-light;
        margin-left: auto;

        &:hover {
          text-decoration: underline;
          color: $verde;
        }
      }
    }

    .btn {
      width: 100%;
    }
  }

  .botones .btn {
    margin: 0 0.5rem;

    &.activo {
      background: $verde;
      color: $blanco;
    }
  }
}

//Inicio
.inicio {
  padding: 0;

  .slide {
    display: flex;
    align-items: center;
    height: 70rem;
    background-size: cover !important;
    background-position: center !important;
  }

  .contenido {
    width: 50rem;

    h3 {
      @include textoTitulo(6rem);
      color: $verde;
    }

    p {
      @include textoGraph(1.6rem);
      color: $verde-light;
      padding: 1rem 0;
    }
  }
}

.swiper-pagination-bullet-active {
  background: $verde;
}
.apps {
  .apps-container {
    @include grid(16rem);
    .caja {
      padding: 3rem 2rem;
      text-align: center;
      border: $borde;
      background: $verde-light;
      cursor: pointer;

      &:hover {
        background: $verde;

        h3 {
          color: $blanco;
        }

        p {
          color: $blanco-light;
        }
      }

      img {
        height: 10rem;
        width: 20rem;
        margin-bottom: 0.7rem;
      }

      h3 {
        @include textoTitulo(1.7rem);
        padding: 0.5rem 0;
      }

      p {
        @include textoGraph(1.25rem);
      }
    }
  }
}

//Footer
.footer {
  background: $verde-light;

  .footer-container {
    @include grid(25rem);

    .caja {
      p {
        @include textoGraph(1.5em);
        padding: 1rem 0;
      }

      h3 {
        @include textoTitulo(2.2rem);
        padding: 1rem 0;

        i {
          color: $verde;
        }
      }

      .redes-sociales {
        margin-top: 1rem;
        a {
          height: 4.5rem;
          width: 4.5rem;
          line-height: 4.5rem;
          font-size: 1.7rem;
          background-color: $verde;
          color: $blanco;
          margin-right: 0.3rem;
          text-align: center;

          &:hover {
            background-color: $negro;
          }
        }
      }

      .link {
        @include textoGraph(1.7rem);
        padding: 0.5rem 0;
        display: block;

        &:hover {
          color: $verde;
          text-decoration: underline;
        }
      }

      .email {
        width: 100%;
        padding: 1.2rem 1.4rem;
        font-size: 1.6rem;
        border: $borde;
        margin-bottom: 1rem;
      }
    }
  }

  .derechos {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    @include textoTitulo(2rem);
    border-top: $borde;
  }
}

//RESPONSIVE
@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }

  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header {
    #menu-btn {
      display: inline-block;
    }

    .navbar {
      position: fixed;
      top: 0;
      right: -105%;
      width: 30rem;
      background: $blanco;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      z-index: 1200;

      #cerrar-menu {
        display: block;
      }

      &.activo {
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
        right: 0;
      }

      a {
        display: block;
        margin: 1rem 0;
        text-align: center;
        font-size: 3rem;
      }
    }
  }

  .inicio .swiper .contenido h3 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .cabecera {
    font-size: 3rem;
  }
}
